body {
    text-align: center;
}

h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.calculator {
    margin: 20px auto;
    width: 400px;
    height: 600px;
    background-color: #1f1e1e;
    border: 1px solid black;
    border-radius: 15px;
}

.top-row {
    margin: 50px auto 50px auto;
    width: 340px;
    height: 70px;
}

.top-row img {
    height: 70px;
    width: 70px;
    float: left;
}

.text-container {
    float: right;
    width: 260px;
    height: 70px;
    background-color: gray;
    border-radius: 12px;
}

.button-container {
    margin: 0 auto;
    height: 370px;
    width: 370px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* border: 1px solid white; */
    /* color: black; */
}

.button {
    margin: 0 auto;
    width: 70px;
    height: 70px;
    border: 0;
    background-color: #1f1e1e;
    background-image: url(./imgs/blank-button.png);
    background-size: 70px 70px;
    font-size: 30px;
    color: white;
}

#text {
    text-align: right;
    font-size: 40px;
    line-height: 0px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    margin-right: 10px;
}